@tailwind base;
@tailwind components;
@tailwind utilities;

.my-class {
    font-family: 'Quicksand', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.font-gaming {
  font-family: 'Orbitron', sans-serif;
}


.dark-mode {
  background-image: linear-gradient(to top, #16131a, #15101b, #140d1c, #120a1e, #10061f);
}

.light-mode {
  background-image: linear-gradient(to top, #e5e5e5, #e7e7e7, #e9e9e9, #ebebeb, #ededed);
}


.bg-darkCustom {
  background-color: #15101b;
}
.border-dark {
  border-color: #444 !important;
}

.border-dark-visible {
  border-color: #2c2c2c !important; /* slightly lighter than background */
}

 .text-shadow-white {
  text-shadow: 0 0 10px #ffffff;
}
.text-shadow-black{
   text-shadow: 0 0 4px #000000;
}
.custom-color{
  color:#3024D7
}

